@import url(global.css);

.btn{
    background-color: var(--text-color-primary);
    font-family: var(--fonte-inter);
    font-weight: var(--fw-md);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: fit-content;
}

.btn[aria-label]{
    position:relative;
    color: var(--text-color-primary);


    &::before{
        content: "";
        position: absolute;
        background:var(--bg-color);
        
        border-radius: inherit;
        inset: 2px;
    }

    &::after{
        content: attr(aria-label);
        background: var(--text-color-primary);
        -webkit-background-clip: text;
        background-clip: text;
        color:transparent; 
        position: relative;
    }


    &:hover{
        &::after{
            content: attr(aria-label);
            background: var(--cor-gradient);
            -webkit-background-clip: text;
            background-clip: text;
        }
    }
    

}

.btn-lg{
    font-size: 1.125rem;
    padding: 1rem 2rem;
}

.btn-md{
    font-size:var(--fs-base);
    padding: 0.75rem 1.5rem;
}

.btn-sm{
    font-size: var(--fs-sm);
    padding: 0.5rem 1rem;
}

.btn-lg:hover,
.btn-md:hover,
.btn-sm:hover{
    background: var(--cor-gradient);
}

@media(width >= 80rem){
.btn-md{
    font-size: 1.125rem;
    padding: 1rem 2rem;
}

.btn-sm{
    font-size:var(--fs-base);
    padding: 0.75rem 1.5rem;
}

/* .btn-sm{
    font-size: var(--fs-sm);
    padding: 0.5rem 1rem;
} */


}