@import url(global.css);

.container{
    --max-width: 375px;
    width: min(var(--max-width), 100% - var(--px-lg) * 2);
    /* border:1px solid brown; */
    margin-inline: auto;
}

.py-base{
    padding-block: var(--py-base);
}

.py-lg{
    padding-block:var(--py-lg)
}

.py-xl{
    padding-block: var(--py-xl);
}

.px-lg{
    padding-inline: var(--px-lg);
}

.off-desktop{
    display: none;
}

.even-columns{
    display: grid;
    gap: 1rem
}

/* .gridcomum{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
} */

.gridcomum{
    grid-template-columns: 1fr;
}

.gridcolunaselinhas{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}

.alignItems{
    align-items: center;
}

.jcenter{
    justify-content: center;
}

.columns{
    flex-direction: column;
}

.gap-24{
    gap:var(--px-lg)
}

.gap1{
    gap:1rem;
}

.gap2{
    gap:2rem;
}

.tcenter{
    text-align: center;
}

.on-smartphone{
    display: block;
}

@media(width >= 80rem){
    .container{
        --max-width:80rem;
    }

    .off-desktop{
        display: initial;
    }

    .even-columns{
        grid-auto-flow: column;
        gap:2rem;
    }

    .on-smartphone{
        display: none;
    }

    .gridcomum{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
}

.gridcolunaselinhas{
    display: grid;
    grid-template-columns: 17.5rem 1fr 1fr 17.5rem;
    grid-template-rows: repeat(2, 25rem);
}

    
}