@import url(classes.css);
@import url(global.css);

#pricing .container .caixacartoes{
    /* border: 1px solid green; */
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .carta{
        /* border:1px solid yellow; */
        background-color: var(--surface-color);
        max-width: 24rem;
        border-radius: 1.5rem;

        & .btn{
            width: 100%;

            &::before{
                background-color: var(--surface-color);
            }
        }

        & ul{
            /* border: 1px solid pink; */
            list-style: none;

            & li{
                color: var(--text-color-secundary);
                /* background-color: red; */
                display: flex;
                gap:0.3rem;

                &::before{
                    content: url(../assets/icons/Check.svg);
                }
            }
        }

        & .empacota{

            /* border: 1px solid brown; */
            display: grid;
            gap:1.5rem;

            & .caixatexto{
                /* border: 1px solid orange; */
                & h3{
                    font-size: var(--fs-large);
                }

                & p{
                    color:var(--text-color-secundary);
                }
            }

            & h1{
                font-size: var(--fs-large);

            }

        }


        & .linha{
            height: 1px;
            width: 100%;
            background-color: rgb(102, 102, 102);
            margin-block: 2rem;
        }

    }


}

.carta[data-cardbase]{
    padding: 2rem;
}

.carta[data-cardespecial]{
    padding: 4.5rem 2rem 5rem 2rem;
    position: relative;
    /* inset: 5px; */
    
    & .caixames{
        background: var(--cor-gradient);
        padding: 0.75rem 2rem;
        width: fit-content;
        border-top-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
        position: absolute;
        left: 0;
        top:0;

        & p{
            color: var(--bg-color);
            font-size: 0.75rem;
            font-weight: 600;
        }
    }

    &::before{
        content:"";
        background: var(--cor-gradient);
        position: absolute;
        border-radius: 1.5rem;
        inset: -1px;
        z-index: -1;
    }
}


.carta[data-h1e]{
    /* border: 1px solid red; */

    & h1::after{
        content: " /mês";
        color: var(--text-color-secundary);
        font-size: 1rem;
    }
}

.caixatitulo[data-titulo]{
    /* border: 1px solid yellow; */
    max-width: 20.4375rem;
    margin: auto;
    text-align: center;

    & p{
        color: var(--brand-color-primary)
    }

    & h1{
        font-size: var(--fs-xlarge)
    }
}

@media(width >= 80rem){
    #pricing .container .caixacartoes{
        flex-direction: row;
    }

    .caixatitulo[data-titulo]{
        max-width: 50rem;
    }
}